
/*
 * Underline Headers
 */
h1.underline,
h2.underline,
h3.underline,
h4.underline,
h5.underline,
h6.underline {
  border-bottom: 1px solid darken(map-get($theme-colors, "primary"), 10%);
  margin-bottom: $headings-margin-bottom;
  line-height: $headings-line-height;
}

h1.underline-black,
h2.underline-black,
h3.underline-black,
h4.underline-black,
h5.underline-black,
h6.underline-black {
  border-bottom: 1px solid $black;
  margin-bottom: $headings-margin-bottom;
  line-height: $headings-line-height;
}

.text-highlight {
  border: 1px solid darken($green-100, 5%);
  border-radius: $border-radius;
  background-color: lighten($green-100, 5%);
  display: inline-block;
  padding: 0px 4px;
  color: darken($green-100, 65%);
}

select.form-control {
  padding-top: $custom-select-padding-y;
  padding-bottom: $custom-select-padding-y;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  cursor: pointer;
}

.form-control {
  &:focus {
    border: 1px solid $gray-light;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px $mint, 0 0 8px $mint;
    box-shadow: inset 0 1px 1px $mint, 0 0 8px $mint;
  }
}

input[type="radio"],
input[type="checkbox"],
label[for] {
  cursor: pointer;
}

label {
  display: inline-block;
  margin-bottom: .25rem;
}

.invalid-feedback {
  margin-top: -2px;
  font-size: .8rem;
  position: absolute;
}

p {
  margin: 0 0 10px;
}

ul {
  list-style: none;
  padding: 0;
}