/*
  This file contains all the custom styles for the Style Guide.
  The production file located in the ./dist folder contains the
  final file without these styles compiled in it.
*/

@import "../scss/style";

// Logo Image
.logo {
  height: 43px;
  margin: 10px 0;
}

.guide-title {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 6px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: right;
}

// Menu Styles

ul#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li a {
  display: block;
  color: #000;
  padding: 5px 10px;
  text-decoration: none;
}

/* Change the link color on hover */
#menu li a:hover {
  background-color: $nc-primary;
  color: white;
  border-radius: 3px;
}

.menu {
  padding: 20px 0;
  position: sticky;
  top: 0;
}

.column-border {
  border-right: 1px solid #c5c3c3;
  border-bottom: 1px solid #c5c3c3;
}

.page-content {
  padding-top: 30px;
}
.nc-primary {
  background-color: $nc-primary;
}

// Colors Page Styles

.uiguideTitle {
  border-bottom: 2px solid $nc-primary;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 2.5rem;
}

img {
  max-width: 100%;
}

.swatchbox {
  display: inline-block;
  background-color: #f5f5f5;
  border: 1px solid #dedede;
  padding: 5px;
  margin: 5px;
  font-size: 12px;
  overflow: visible;
}

.swatchbox.primary {
  background-color: #afd4f9
}

.light {
  color: #ffffff;
}

.hidden {
  display: none;
}

.swatch {
  width: 145px;
  height: 145px;
  border: 1px solid #dedede;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*height: 100%;*/
  overflow: hidden;
}

.swatch p {
  margin: 0;
  padding: 20px;
  text-transform: lowercase;
}

.swatchTitle {
  font-weight: bold;
  display: block;
}

/*
 * Transform the H2, H3 into a thin, and blue header
 */
.h2 {
  font-weight: $font-weight-light;
  color: darken(map-get($theme-colors, "primary"), 10%);
}

.h3 {
  font-weight: $font-weight-light;
  color: darken(map-get($theme-colors, "primary"), 5%);
  margin-top: 20px;
}

form {
  width: 100%;
}

.icons-preview {
  i {
    font-size: 40px;
  }
}